html {
    box-sizing : border-box;
}

*, *:before, *:after {
    box-sizing : inherit;
}

html, body {
    height  : 100%;
    width   : 100%;
    margin  : 0;
    padding : 0;
}

body {
    display          : flex;
    flex-direction   : column;
    align-items      : center;
    justify-content  : flex-start;
    background-color : gainsboro;
}

#app {
    margin-top : 0vh;
}

#app input {
    font-size : 1.3rem;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
  }

  .chat li.left .chat-body {
    margin-left: 60px;
  }

  .chat li.right .chat-body {
    margin-right: 60px;
  }


  .chat li .chat-body p {
    margin: 0;
    color: #777777;
  }

  .panel .slidedown .glyphicon,
  .chat .glyphicon {
    margin-right: 5px;
  }

  .panel-body {
    overflow-y: scroll;
    height: 40vh;
    background-image: url(back.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(245, 245, 245, 0.185);
  }

  ::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(245, 245, 245, 0.253);
  }

  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }
.img-circle{
    border-radius: 50%;
    min-height: 48px;
    height: 6vh;
}
.bubble{
  background-color: #F2F2F2;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
  margin-left: 9px;
}

.bubble::before {
  background-color: #F2F2F2;
  content: "\00a0";
  display: block;
  height: 16px;
  position: absolute;
  top: 11px;
  transform:             rotate( 29deg ) skew( -35deg );
      -moz-transform:    rotate( 29deg ) skew( -35deg );
      -ms-transform:     rotate( 29deg ) skew( -35deg );
      -o-transform:      rotate( 29deg ) skew( -35deg );
      -webkit-transform: rotate( 29deg ) skew( -35deg );
  width:  20px;
}

.me {
  float: left;          
}

.me::before {
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  left: -9px;           
}

.you {
  float: right;    
  margin: 5px 20px 5px 45px;         
}

.you::before {
  box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
  right: -9px;    
}
